body {
  background: white;
  font-size: 75%; }
  body #header {
    height: 93px; }
    body #header .container .logo {
      padding-top: 24px; }
  body #main {
    height: 450px; }
    body #main .container .error {
      height: 80px;
      width: 300px;
      line-height: 80px;
      text-align: center;
      font-size: 16px;
      border: 1px solid #eeb5b0;
      color: #D23F33;
      background-color: #fbf0ef;
      position: fixed;
      bottom: 50%;
      right: 42%;
      display: none; }
    body #main .container .main-banner {
      margin-left: 10px;
      width: 665px;
      height: 365px;
      background-size: cover;
      background-position: center;
      background-image: url(../../images/login.jpg);
      float: left; }
    body #main .container .main-right {
      height: 100%;
      margin-left: 10px;
      width: 440px;
      float: left; }
      body #main .container .main-right .register-form h1 {
        padding-left: 60px;
        color: #333;
        font-weight: 400;
        font-size: 22px;
        margin-bottom: 30px; }
      body #main .container .main-right .register-form form ul .from-row {
        position: relative;
        min-height: 36px;
        margin-bottom: 10px;
        display: inline-block;
        clear: both;
        float: left; }
        body #main .container .main-right .register-form form ul .from-row .caution {
          width: 300px;
          left: 120px;
          position: absolute;
          bottom: 38px;
          height: 30px;
          line-height: 30px;
          padding-left: 20px;
          border-radius: 3px;
          border: 1px solid #eeb5b0;
          color: #D23F33;
          background-color: #fbf0ef;
          display: none; }
        body #main .container .main-right .register-form form ul .from-row label {
          float: left;
          width: 108px;
          min-height: 36px;
          line-height: 36px;
          text-align: right;
          font-size: 10px; }
          body #main .container .main-right .register-form form ul .from-row label i {
            margin-right: 5px;
            color: #EF4521; }
        body #main .container .main-right .register-form form ul .from-row .from-act {
          width: 300px;
          float: left;
          margin-left: 1em;
          line-height: 34px;
          position: relative;
          display: block; }
          body #main .container .main-right .register-form form ul .from-row .from-act .from-label {
            width: 300px;
            height: 36px;
            line-height: 36px;
            padding-right: 30px;
            padding: 2px;
            border: 1px solid #cccccc;
            background-color: white;
            border-radius: 3px;
            font-size: 12px; }
          body #main .container .main-right .register-form form ul .from-row .from-act #v-code {
            width: 134px; }
          body #main .container .main-right .register-form form ul .from-row .from-act i {
            height: 36px;
            width: 36px;
            position: absolute;
            text-align: center;
            line-height: 36px;
            top: 0;
            right: 0;
            font-size: 18px;
            color: #999999; }
          body #main .container .main-right .register-form form ul .from-row .from-act .password-check {
            overflow: hidden;
            display: inline-block;
            vertical-align: middle;
            line-height: 18px;
            color: #666666;
            float: right;
            font-size: 12px;
            margin-top: 10px; }
            body #main .container .main-right .register-form form ul .from-row .from-act .password-check p {
              display: inline-block; }
            body #main .container .main-right .register-form form ul .from-row .from-act .password-check em {
              margin-left: 1px;
              padding: 0 10px;
              background-color: #CCCCCC;
              color: #FFFFFF;
              display: inline-block;
              float: right; }
        body #main .container .main-right .register-form form ul .from-row .change {
          cursor: pointer; }
          body #main .container .main-right .register-form form ul .from-row .change p {
            display: inline; }
          body #main .container .main-right .register-form form ul .from-row .change a {
            color: #0563C3; }
        body #main .container .main-right .register-form form ul .from-row .consent {
          float: none; }
          body #main .container .main-right .register-form form ul .from-row .consent a {
            color: #0563C3; }
        body #main .container .main-right .register-form form ul .from-row .submit {
          margin-right: 20px;
          background: #EF4521;
          color: white;
          height: 34px;
          width: 100%;
          border-radius: 3px;
          cursor: pointer;
          line-height: 34px; }
  body #footer {
    color: #666;
    text-align: center; }
    body #footer p {
      height: 24px;
      line-height: 24px; }

/*# sourceMappingURL=register.css.map */
